.page {
  height: 100%;
  display: flex;
  flex-direction: column; }

.page .top-glow {
  height: 190vh;
  width: 490vh;
  background: radial-gradient(circle, var(--color) -20%, rgba(255, 255, 255, 0) 36%);
  position: absolute;
  left: 50%;
  top: -127%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 50%;
  pointer-events: none; }

.page main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 3vh 2.5vw;
  padding-bottom: 0; }

.page main .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; }

.page main .content .players-text {
  display: flex;
  align-items: center;
  gap: 1vh;
  font-size: 2vh; }

.page main .content .players-text::before {
  content: "";
  height: 3.2vh;
  width: 0.4vh;
  background: white;
  border-radius: 1vh;
  box-shadow: 0px 0px 2vh #ffffff; }

.page main .content .center-text {
  margin: auto;
  font-size: 7vh;
  text-align: center;
  font-weight: 700;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  z-index: 9;
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-family: "Proxima Nova"; }

.page main .content .center-text.qbcore {
  margin-bottom: 5vh; }

.page main .content .center-text.empty {
  opacity: 0.1; }

.page main .content button {
  background: var(--color, rgba(217, 217, 217, 0.59));
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.2vh;
  font-size: 2vh;
  text-align: center;
  box-shadow: 0 0 1vh 0vh var(--color);
  width: 17vw;
  height: 7vh;
  margin-inline: auto;
  margin-bottom: 7vh;
  border-radius: 1vh; }

.page nav.locations .locations-wrapper {
  display: flex;
  gap: 2vh;
  overflow: hidden; }

.page nav.locations .locations-scroll {
  margin-top: 2vh;
  margin-inline: auto;
  width: 49%;
  background: #d9d9d94d;
  height: 0.5vh;
  border-radius: 1vh;
  position: relative;
  overflow: hidden; }

.page nav.locations .locations-scroll .scroll-fill {
  height: 100%;
  background: #d9d9d9;
  border-radius: 1vh;
  position: absolute;
  width: 10%;
  transition: left 10ms ease-in-out; }

.page footer {
  display: grid;
  grid-template-columns: 1fr 0.4fr 1fr;
  margin-top: 2.5vh; }

.page footer button {
  background: var(--color, rgba(217, 217, 217, 0.59));
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.2vh;
  font-size: 2vh;
  text-align: center;
  box-shadow: 0 3vh 4vh 2vh var(--color), 0 0 4vh var(--color); }

.page footer button.qbcore {
  --color: white;
  box-shadow: 0 3vh 5vh 0vh var(--color); }

.page footer button .home-icon {
  display: flex;
  justify-content: center;
  height: 5vh;
  width: 5vh;
  margin: auto; }

.page footer button .home-icon svg {
  height: 100%;
  width: 100%; }

.page footer .selector {
  background: rgba(217, 217, 217, 0.16);
  border-top: 2px solid rgba(255, 255, 255, 0.37);
  padding-inline: 2.5vw 2vw;
  display: flex;
  align-items: center;
  gap: 2vh;
  font-weight: bold;
  font-size: 2vh;
  justify-content: space-between;
  z-index: 1; }

.page footer .selector.right {
  padding-left: 0;
  padding-right: 2.5vw; }

.page footer .selector .arrow {
  width: 4vh;
  height: 100%;
  margin: 0 1vh;
  display: flex;
  position: relative;
  padding-block: 1.6vh; }

.page footer .selector .arrow.reverse div {
  transform: rotate(180deg); }

.page footer .selector .arrow svg {
  height: 100%;
  width: 100%; }

.page footer .selector .arrow::before {
  content: "";
  background: white;
  height: 0.4vh;
  width: 3vh;
  position: absolute;
  top: -0.1vh;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2vh;
  transform: translateY(-50%);
  box-shadow: 0 0 1vh white; }

.page footer .selector .text {
  cursor: pointer;
  position: relative;
  line-height: 6vh;
  height: 100%; }

.page footer .selector .text:hover {
  text-decoration: underline; }

.page footer .selector .text::before {
  content: "";
  background: white;
  height: 0.4vh;
  width: 3vh;
  position: absolute;
  top: -0.1vh;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2vh;
  transform: translateY(-50%);
  box-shadow: 0 0 1vh white; }

.location {
  height: 20vh;
  width: 18.1vw;
  border-radius: 1vh;
  padding: 1vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  outline: 0.3vh solid #ffffff69;
  outline-offset: -0.3vh;
  filter: grayscale(100%); }

.location.new {
  font-size: 10vh; }

.location .active-glow {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none; }

.location .active-glow::before, .location .active-glow::after {
  content: "";
  background: white;
  height: 0.6vh;
  width: 3vh;
  position: absolute;
  top: 0;
  left: 4vh;
  margin: auto;
  border-radius: 2vh;
  transform: translateY(-50%);
  box-shadow: 0 0 1vh white; }

.location .active-glow::after {
  top: unset;
  bottom: -0.7vh;
  left: unset;
  right: 5vh; }

.location .title {
  font-size: 2.5vh;
  letter-spacing: 0.1vh; }

.location .name {
  font-size: 2vh;
  letter-spacing: 0.1vh;
  font-weight: bold; }

.location::after {
  content: "";
  height: 100%;
  width: 100%;
  background-image: var(--bg-img);
  background-size: cover;
  border-radius: 1vh;
  position: absolute;
  inset: 0;
  z-index: -2; }

.location.active {
  filter: none; }

.location.active::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1vh;
  background: var(--color);
  opacity: 0.2;
  z-index: -1; }

.location .buttons {
  position: absolute;
  bottom: 1vh;
  left: 2vh;
  right: 2vh;
  display: flex;
  justify-content: space-between; }

.location .buttons button {
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  font-size: 1.7vh;
  background: #ffffff5c;
  color: white; }

.location .buttons button.red {
  background: #ff43435c;
  color: #ff4343; }
