@import url("../assets/fonts/proxima_nova.css");
@import url("../assets/fonts/gilroy.css");
@import url("../pages/selector/style.css");
#app {
  font-family: "Roboto", sans-serif;
  color: white;
  user-select: none;
  font-weight: 700; }

#app ::-webkit-scrollbar {
  height: 0.5vh;
  width: 0.5vh; }

#app ::-webkit-scrollbar-track {
  background: transparent; }

#app ::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 0.5vh; }

.app-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-image: url("../assets/bg-default.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.app-container.transparent {
  background-image: url("../assets/bg-overlay.png"); }

.app-container > .header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  font-family: "Proxima Nova", sans-serif;
  margin-inline: 2.6vw;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 99; }

.app-container > .header .logo {
  height: 7vh;
  width: 15vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-block: auto; }

.app-container > .header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.app-container > .header .title {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  border-bottom: 0.4vh solid;
  text-shadow: 0px 0px 1.2vh rgba(255, 255, 255, 0.45), 0px 0px 3.2vh rgba(255, 255, 255, 0.45), 0px 0px 2.2vh rgba(255, 255, 255, 0.45);
  font-size: 2.6vh;
  letter-spacing: 0.4vh;
  padding-inline: 3.8vh;
  padding-top: 3vh;
  padding-bottom: 2.3vh; }

.app-container > .header .user {
  display: flex;
  align-items: center;
  gap: 1vh;
  position: absolute;
  right: 0; }

.app-container > .header .user .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.4vh;
  letter-spacing: 0.1vh; }

.app-container > .header .user .info .accent {
  color: #eeeeee80;
  font-size: 1.2vh; }

.app-container > .header .user .image {
  height: 4.5vh;
  width: 4.5vh;
  overflow: hidden;
  border-radius: 50%;
  border: 0.2vh solid;
  box-sizing: content-box; }

.app-container > .header .user .image img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Gilroy", sans-serif;
  font-weight: normal; }

.page-container .modal-container {
  position: absolute;
  inset: 0;
  background: #000000bf;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 2vh; }

.page-container .modal-container .modal-box {
  background: #d9d9d9;
  color: #5f5f5f;
  padding: 1vh;
  border-radius: 1vh;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  min-width: 18.1vw; }

.page-container .modal-container .modal-box.input {
  padding: 3vh 8vh; }

.page-container .modal-container .modal-box .title {
  font-size: 2vh; }

.page-container .modal-container .modal-box .content {
  font-size: 2vh;
  margin-inline: 2vh;
  width: -webkit-fill-available; }

.page-container .modal-container .modal-box .content .input {
  margin-bottom: 1vh; }

.page-container .modal-container .modal-box .content .input .input-area.button {
  display: grid;
  gap: 1vh;
  grid-template-columns: 1fr 0.5fr; }

.page-container .modal-container .modal-box .content .input .input-area.button button {
  white-space: nowrap;
  font-size: 1.4vh;
  background: #565454;
  color: white;
  height: 3vh;
  border-radius: 0.4vh;
  position: relative; }

.page-container .modal-container .modal-box .content .input .input-area.button button input[type="color"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  height: 100%;
  cursor: pointer; }

.page-container .modal-container .modal-box .content .input input {
  background: transparent;
  color: black;
  font-size: 1.7vh;
  width: 100%;
  border-bottom: 0.35vh solid rgba(86, 84, 84, 0.44);
  padding-block: 0.5vh; }

.page-container .modal-container .modal-box .content .input input::placeholder {
  color: #5f5f5f7a; }

.page-container .modal-container .modal-box .content .input span.error {
  font-size: 1.1vh;
  color: #ff7878; }

.page-container .modal-container .modal-box .content .input span.label {
  font-size: 1.5vh;
  color: #5f5f5f7a; }

.page-container .modal-container .modal-box .content .text {
  color: #5F5F5FC2;
  text-align: center;
  margin-block: 1vh; }

.page-container .modal-container .modal-box .buttons {
  display: flex;
  gap: 1vh; }

.page-container .modal-container .modal-box .buttons button {
  padding: 1.5vh 3vh;
  border-radius: 1vh;
  font-size: 1.5vh; }

.page-container .modal-container .modal-box .buttons button.green {
  background: #55ea7f;
  color: #2d7842; }

.page-container .modal-container .modal-box .buttons button.gray {
  background: #565454;
  color: #f2f2f2; }

.page-container .modal-container .modal-box .buttons button.red {
  background: #ff7878;
  color: #743636; }

.page-container .page {
  height: 100%; }
